In [33]:
import PyPDF2 
from pdf2image import convert_from_path, convert_from_bytes
import pytesseract
from PIL import Image
import pandas as pd
import os, glob

In [ ]:
def pdf_to_df(fp='processed/01_январь.pdf', pn=0):
    images = convert_from_path(fp)
    image = images[pn]
    im = image.crop((0, 70, 400, 2050))
    text = pytesseract.image_to_string(im, lang='rus')
    data = [i.split() for i in text.split('\n')]
    df = pd.DataFrame(data, columns='м Отст Ст Откл Дл Кол'.split())
    return df

In [16]:
['processed/' + fp for fp in os.listdir('processed')]

['processed/сентябрь.csv',
 'processed/май.csv',
 'processed/октябрь.csv',
 'processed/апрель.csv',
 'processed/июнь.csv',
 'processed/ноябрь.csv']

In [47]:
if os.path.exists('processed'):
    dfs = [pd.read_csv('processed/' + fp, encoding='utf8', delimiter=';', names='м Отст Ст Откл Дл Кол fucked'.split(), index_col=False) for fp in os.listdir('processed')]
else:
    dfs = [pdf_to_df(file) for file in glob.glob("data/*.pdf")]

In [48]:
df = pd.concat(dfs)
df['region'] = df['м'] // 10

In [51]:
df[df.fucked == True]

      м Отст  Ст  Откл  Дл  Кол  fucked  region
19  638    0   0     0   0    0       1      63
25  429    0   0     0   0    0       1      42
24  639    0   0     0   0    0       1      63
30  429    0   0     0   0    0       1      42
19  638    0   0     0   0    0       1      63
32  428    0   0     0   0    0       1      42